* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navegador {
  padding: 20px;
  background-color: #DAC0A3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navegador ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  margin: 15px;
}
.navegador ul li a {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  list-style: none;
  text-decoration: none;
}
.navegador ul li a:hover {
  color: black;
  background-color: #DAC0A3;
}
.navegador img {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  justify-content: center;
}

@media (max-width: 780px) {
  .navegador img {
    display: none;
  }
  .navegador ul {
    display: flex;
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .navegador ul li a {
    justify-content: center;
    align-content: center;
    text-align: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    font-size: small;
    padding: 0;
  }
}
.carousel-inner {
  height: auto;
  background-size: cover;
}

.text-inicio {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ingreso-ventas {
  margin: 35px;
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  justify-content: start;
}
.ingreso-ventas .wtp {
  list-style: none;
  text-decoration: none;
  color: black;
}
.ingreso-ventas .cuadradito {
  margin: 15px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid black;
  gap: 30px;
}
.ingreso-ventas .cuadradito img {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid bisque;
  align-self: center;
}
.ingreso-ventas .cuadradito h4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ingreso-ventas .cuadradito p {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 780px) {
  .ingreso-ventas {
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    padding: 10px;
  }
  .ingreso-ventas .cuadradito {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
  }
  .ingreso-ventas .cuadradito img {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
  }
  .ingreso-ventas .cuadradito h4 {
    display: flex;
    flex-wrap: wrap;
    font-size: x-small;
  }
  .ingreso-ventas .cuadradito p {
    display: flex;
    flex-wrap: wrap;
    font-size: x-small;
  }
}
.productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5%;
  padding: 15px;
}
.productos .tarjetas {
  margin: 10%;
  padding: 15px;
  border: 2px solid black;
  width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #ebebeb;
  gap: 30px;
  list-style: none;
  text-decoration: none;
}
.productos .tarjetas h3 {
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  align-self: center;
  color: black;
  list-style: none;
  text-decoration: none;
}
.productos .tarjetas img {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  align-self: center;
}
.productos .tarjetas button {
  list-style: none;
  text-decoration: none;
  padding: 10px 10px;
  background-color: bisque;
  border-radius: 5px;
}
.productos .tarjetas button:hover {
  background-color: rgb(249, 209, 161);
}

@media (max-width: 780px) {
  .productos {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .productos .tarjetas {
    width: 250px;
    padding: 0px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .productos .tarjetas img {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
  }
  .productos .tarjetas button {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-self: center;
    margin: 10px;
    background-color: white;
  }
  .productos .tarjetas h3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.nosotros {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
}
.nosotros p {
  margin: 20px auto;
  width: 1200px;
  font-size: 50px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #F8F0E5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (max-width: 780px) {
  .nosotros p {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    font-size: x-small;
  }
}
.row {
  width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
}

.pie {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  background-color: black;
  color: white;
}
.pie .descrip {
  margin: 20px;
  padding: 15px;
  width: 550px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.pie .redes {
  font-size: 35px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 550px;
  margin: 15px;
}
.pie .fa-brands {
  font-size: 50px;
}

@media (max-width: 760px) {
  .pie .mapa {
    display: none;
  }
  .pie {
    padding: 0px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .pie .descrip {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 250px;
    font-size: 20px;
    padding: 0px;
  }
  .pie .redes {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
    font-size: 30px;
  }
  .pie .fa-brands {
    font-size: 35px;
  }
}

/*# sourceMappingURL=styles.css.map */
