*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navegador{
    padding: 20px;
    background-color: #DAC0A3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-decoration: none;
        list-style: none;
        justify-content:center;
        gap: 40px;
        padding: 20px;
        margin: 15px;
        li a{
            padding: 30px;
            display: flex;
            flex-wrap: wrap;
            color: white;
            list-style: none;
            text-decoration: none;
            &:hover{
                color: black;
                background-color:#DAC0A3 ;
            }
        }
    }
    img{
        display: flex;
        flex-wrap: wrap;
        width:450px;
        justify-content: center;
    }
}
@media(max-width:780px){
    .navegador{
         img{
        display: none;
        }
        ul {
        display: flex;
        padding: 10px;
        flex-direction: column;
        flex-wrap: wrap;
            li a{
                justify-content: center;
                align-content: center;
                text-align: center;
                align-self: center;
                display: flex;
                flex-wrap: wrap;
                font-size: small;
                padding: 0;
                }
        }
    }
}
.carousel-inner{
    height: auto;
    background-size: cover;
}
.text-inicio{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.ingreso-ventas{
    margin: 35px;
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    flex-wrap: wrap;
    justify-content:start;
    .wtp{
        list-style: none;
        text-decoration: none;
        color: black;
    }
    .cuadradito{
        margin: 15px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: 1px solid black;
        gap: 30px;
        img{
            width: 350px;
            display: flex;
            flex-wrap: wrap;
            border: 1px solid bisque;
            align-self: center;
        }
        h4{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        p{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    }
}
@media(max-width:780px){
    .ingreso-ventas{
        width: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 5px;
        padding: 10px;
        .cuadradito{
            gap: 20px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 10px;
            justify-content: center;
            img{
                padding: 10px;
                width: 250px;
                display: flex;
                flex-wrap: wrap;
            }
            h4{
                display: flex;
                flex-wrap: wrap;
                font-size: x-small;
            }
            p{
                display: flex;
                flex-wrap: wrap;
                font-size: x-small;
            }
            button{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                list-style: none;
                text-decoration: none;
                margin: 10px auto;
                align-self: center;
            }
        }
    }
}
.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 25px;
    padding: 15px;
    .tarjetas{
        margin: 30px;
        padding: 15px;
        border: 2px solid black;
        width: 500px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        background-color: #ebebeb;
        gap: 30px;
        list-style: none;
        text-decoration: none;
        h3{
            display: flex;
            flex-wrap: wrap;
            font-size: 25px;
            align-self: center;
            color: black;
            list-style: none;
            text-decoration: none;
        }
        img{
            display: flex;
            flex-wrap: wrap;
            width: 350px;
            align-self: center;
            
        }
        button{
            list-style: none;
            text-decoration: none;
            padding: 10px 10px;
            background-color: bisque;
            border-radius: 5px;
            &:hover{
                background-color: rgb(249, 209, 161);
            }
        }
        
    }
}
@media(max-width:780px){
    .productos{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
        .tarjetas{
            width: 300px;
            padding: 0px;
            margin: 5px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            flex-direction: column;
            img{
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                width:250px;
                }
            button{
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                align-self: center;
                margin: 10px;
                background-color: white;
                }
            h3{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                }
            }
    }
}

.nosotros{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    p{
        margin: 20px auto;
        width:1200px;
        font-size: 50px;
        padding: 20px;
        border: 2px solid black;
        border-radius: 5px;
        background-color: #F8F0E5;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media(max-width:780px){
    .nosotros{
        p{
        width: 280px;
        display: flex;
        flex-wrap: wrap;
        font-size: x-small;
        }
    }
}
.row{
    width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
}
.pie{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    flex-wrap: wrap;
    background-color: black;
    color: white;
    .descrip{
        margin: 20px;
        padding: 15px;
        width: 550px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .redes{
        font-size: 30px;
        gap: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 550px;
        margin: 15px;
    }
    .fa-brands{
        font-size: 50px;
    }
}
@media(max-width:760px){
    .pie .mapa{
        display: none;
    }
    .pie {
        padding: 0px;
        gap: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .descrip{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 250px;
            font-size: 20px;
            padding: 0px;
        }
        .redes{
            padding:10px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 250px;
            font-size: 30px;
        }
        .fa-brands{
            font-size: 35px;
        }
    }
}
